.button {
  background: #32cd32;
  box-shadow: inset 0 -2px 0 #449d48;
  flex-shrink: 0;
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  padding: 0.8rem !important;
  justify-content: center;
}

.button:active {
  padding-bottom: calc(0.8rem - 1px) !important;
  background: #00aa28;
  box-shadow: inset 0 2px 0 #3d8b40;
  margin-top: 1px;
}

.button:focus:not(:focus-visible) {
  outline: none;
}
